<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <view id="app">
        <input v-model="text"></input>
        <p>text:{{text}}</p>
        <textarea v-model="text"></textarea>
    </view>
    <script>
        Vue.createApp({
            data(){
                return{
                    text:""
                }
            }
        }).mount("#app")
    </script>
</body>
</html>